extends layout.pug
block content
    include includes/errors.pug
    form(action="/create" method="post")
        include includes/form-inputs.pug
        input(type="submit" name="submit" value="Create User")
